curie-smartnode/smartnode/lib/flows/Accelermoter20160831
[{"id":"e58bd768.611d68","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM5","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d8c2e848.bf8148","type":"change","z":"5f229c05.6151c4","name":"change_Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":495.51478576660156,"y":193.00003051757812,"wires":[["6650b77f.068f48"]]},{"id":"300cae3a.0fb1e2","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":119.51481628417969,"y":65.00003051757812,"wires":[]},{"id":"9f0e2a6d.e05868","type":"DFLed","z":"5f229c05.6151c4","name":"DFLed","digitalPin":"2","x":364.5148162841797,"y":443.0000305175781,"wires":[]},{"id":"447617d7.222688","type":"DFButton","z":"5f229c05.6151c4","name":"DFButton","digitalPin":"4","funType":"1","x":92.51481628417969,"y":410.0000305175781,"wires":[["9f0e2a6d.e05868","905a685f.907f18"]]},{"id":"6716d88a.808898","type":"ADKeyboard","z":"5f229c05.6151c4","name":"ADKeyboard","analogPin":"0","S1from":"800","S1to":"829","S2from":"830","S2to":"859","S3from":"860","S3to":"889","S4from":"890","S4to":"949","S5from":"950","S5to":"999","interval":"1000","x":129.5148162841797,"y":247.00003051757812,"wires":[["3626df02.f1e0c","6fa9a371.12578c"]]},{"id":"db8083bc.8c68c","type":"NeuronFormat","z":"5f229c05.6151c4","name":"NeuronFormat","dimension":"3","dataLength":"60","x":774.5148010253906,"y":304.0000305175781,"wires":[["5845d3b5.dc700c"]]},{"id":"905a685f.907f18","type":"change","z":"5f229c05.6151c4","name":"change_neuronStatus","rules":[{"t":"set","p":"neuronStatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":398.5148162841797,"y":386.0000305175781,"wires":[["db8083bc.8c68c"]]},{"id":"6fa9a371.12578c","type":"change","z":"5f229c05.6151c4","name":"change_category","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":398.5148162841797,"y":325.0000305175781,"wires":[["db8083bc.8c68c"]]},{"id":"3626df02.f1e0c","type":"switch","z":"5f229c05.6151c4","name":"KeySwitch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":284.51478576660156,"y":126.00003051757812,"wires":[["6650b77f.068f48"],["d8c2e848.bf8148"]]},{"id":"ac957925.ac1e08","type":"debug","z":"5f229c05.6151c4","name":"","active":true,"console":"false","complete":"payload","serial":"e58bd768.611d68","x":699.8368682861328,"y":394.6632080078125,"wires":[]},{"id":"5845d3b5.dc700c","type":"Neurons","z":"5f229c05.6151c4","name":"Neurons","x":831.5148010253906,"y":187.00003051757812,"wires":[]},{"id":"6650b77f.068f48","type":"Accelerometer","z":"5f229c05.6151c4","name":"Accelerometer","interval":"100","x":601.5148162841797,"y":87.00003051757812,"wires":[["db8083bc.8c68c"]]}]