curie-smartnode/smartnode/lib/flows/ADKeyboard-20160830
[{"id":"e58bd768.611d68","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM5","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"7fa04bdc.89fd54","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":459.8402557373047,"y":100.98611450195312,"wires":[]},{"id":"2f1785b1.44e11a","type":"debug","z":"5f229c05.6151c4","name":"","active":true,"console":"false","complete":"payload","serial":"e58bd768.611d68","x":749.8368682861328,"y":209.6632080078125,"wires":[]},{"id":"d0076ba1.268a68","type":"ADKeyboard","z":"5f229c05.6151c4","name":"ADKeyboard","analogPin":"0","S1from":"800","S1to":"829","S2from":"830","S2to":"859","S3from":"860","S3to":"889","S4from":"890","S4to":"949","S5from":"950","S5to":"999","interval":"1000","x":193.82640075683594,"y":203.12847900390625,"wires":[["2f1785b1.44e11a","5548ca4e.2c8874","f41350f5.037ec"]]},{"id":"5548ca4e.2c8874","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":370.8402557373047,"y":358.9305725097656,"wires":[["3d918578.6672aa"]]},{"id":"3d918578.6672aa","type":"change","z":"5f229c05.6151c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":562.8367767333984,"y":376.138916015625,"wires":[["f41350f5.037ec"]]},{"id":"f41350f5.037ec","type":"DFLed","z":"5f229c05.6151c4","name":"DFLed","digitalPin":"2","x":787.8264007568359,"y":323.545166015625,"wires":[]}]