curie-smartnode/smartnode/lib/flows/Automatic Gate Barrier
[{"id":"564d75cc.a9b28c","type":"serial-port","z":"128ad8e2.ed7527","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"32adf490.625b8c","type":"interpreter","z":"128ad8e2.ed7527","name":"to curie","x":430,"y":255,"wires":[]},{"id":"e3e31db2.b2b3c","type":"StartSwitch","z":"128ad8e2.ed7527","name":"StartSwitch","outputValue":"1","x":202,"y":331,"wires":[["d56244c.d0a89b8"]]},{"id":"d56244c.d0a89b8","type":"DFInfraredAvoid","z":"128ad8e2.ed7527","name":"DFInfraredAvoid","digitalPin":"5","interval":"1000","x":405,"y":333,"wires":[["b7294562.a864c8","d3a828aa.d498c8"]]},{"id":"d3a828aa.d498c8","type":"debug","z":"128ad8e2.ed7527","name":"","active":true,"console":"false","complete":"payload","serial":"564d75cc.a9b28c","x":642,"y":332,"wires":[]},{"id":"b7294562.a864c8","type":"switch","z":"128ad8e2.ed7527","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":407,"y":411,"wires":[["a93fee99.7f0f"],["b1d9ba86.f24028"]]},{"id":"a93fee99.7f0f","type":"change","z":"128ad8e2.ed7527","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"75","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":573,"y":378,"wires":[["55a70ca4.0cc464"]]},{"id":"b1d9ba86.f24028","type":"Delay","z":"128ad8e2.ed7527","name":"Delay","interval":"2","x":542,"y":449,"wires":[["55a70ca4.0cc464"]]},{"id":"55a70ca4.0cc464","type":"DFServo","z":"128ad8e2.ed7527","name":"DFServo","digitalPin":"11","x":765,"y":436,"wires":[]}]