curie-smartnode/smartnode/lib/flows/ball-neurons20161028
[{"id":"61375e4b.b6bb4","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM10","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"1d13135d.8525fd","type":"Neurons","z":"5f229c05.6151c4","name":"Neurons","funType":"1","dataLength":60,"x":694.0000610351562,"y":253.8888702392578,"wires":[["bb24056a.b42ef8"]]},{"id":"bd4a039c.aaa7a","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":74.99984741210938,"y":68.8888931274414,"wires":[]},{"id":"6a68250a.53ae9c","type":"change","z":"5f229c05.6151c4","name":"neuronStatus","rules":[{"t":"set","p":"neuronStatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":509.000244140625,"y":436.8888854980469,"wires":[["1d13135d.8525fd"]]},{"id":"d0810c95.0a4e7","type":"change","z":"5f229c05.6151c4","name":"category1","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":504.9999694824219,"y":69.88887023925781,"wires":[["1d13135d.8525fd","4d5d61f1.7894e"]]},{"id":"cfffb061.3041e","type":"debug","z":"5f229c05.6151c4","name":"Debug","active":true,"console":"false","complete":"payload","serial":"61375e4b.b6bb4","x":880.9998168945312,"y":458.8888244628906,"wires":[]},{"id":"25fee35b.0a403c","type":"DFButton","z":"5f229c05.6151c4","name":"YellowButton","digitalPin":"2","funType":"0","x":99.32626342773438,"y":178.88886260986328,"wires":[["d040531b.97d71","3920571a.608d08","561be94.0d48f18","667ed0fa.a64a7","cfffb061.3041e"]]},{"id":"d040531b.97d71","type":"switch","z":"5f229c05.6151c4","name":"Press-Release","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":297.5555114746094,"y":75,"wires":[["d0810c95.0a4e7"],["d0810c95.0a4e7"]]},{"id":"3920571a.608d08","type":"change","z":"5f229c05.6151c4","name":"Learn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":326.77777099609375,"y":423.88887786865234,"wires":[["6a68250a.53ae9c"]]},{"id":"561be94.0d48f18","type":"Gyro","z":"5f229c05.6151c4","name":"Gyro","interval":"100","x":331.00006103515625,"y":256.8888473510742,"wires":[["1d13135d.8525fd"]]},{"id":"667ed0fa.a64a7","type":"Accelerometer","z":"5f229c05.6151c4","name":"Accelerometer","interval":"100","x":355.00006103515625,"y":191.8888702392578,"wires":[["1d13135d.8525fd"]]},{"id":"cdd20406.a6d518","type":"DFButton","z":"5f229c05.6151c4","name":"WhiteButton","digitalPin":"4","funType":"0","x":92,"y":470.8889465332031,"wires":[["561be94.0d48f18","667ed0fa.a64a7","e709f723.7598e8","b50c1c1c.ff623"]]},{"id":"10c7b60e.dce59a","type":"DFButton","z":"5f229c05.6151c4","name":"GreenButton","digitalPin":"3","funType":"0","x":95,"y":324.8888473510742,"wires":[["667ed0fa.a64a7","561be94.0d48f18","8c2ac926.306b58","3920571a.608d08"]]},{"id":"8c2ac926.306b58","type":"switch","z":"5f229c05.6151c4","name":"Press-Release","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":338.22210693359375,"y":326.88887786865234,"wires":[["3da422f9.95efce"],["e894e00f.53cd5"]]},{"id":"e894e00f.53cd5","type":"change","z":"5f229c05.6151c4","name":"category2","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580.9998474121094,"y":332.8888473510742,"wires":[["1d13135d.8525fd","4d5d61f1.7894e"]]},{"id":"e709f723.7598e8","type":"change","z":"5f229c05.6151c4","name":"Classify","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":332.66668701171875,"y":478.888916015625,"wires":[["6a68250a.53ae9c"]]},{"id":"b50c1c1c.ff623","type":"change","z":"5f229c05.6151c4","name":"category_status","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":479.77764892578125,"y":548.8889999389648,"wires":[["1d13135d.8525fd"]]},{"id":"4d5d61f1.7894e","type":"change","z":"5f229c05.6151c4","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"category","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":718.841064453125,"y":83.54074096679688,"wires":[["2cda93ee.cdff3c"]]},{"id":"bb24056a.b42ef8","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":878.9999694824219,"y":255.8888702392578,"wires":[["e9817f29.29987"],["4b0efbf1.febff4"]]},{"id":"e9817f29.29987","type":"change","z":"5f229c05.6151c4","name":"Cat1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1066.0003662109375,"y":241.88890075683594,"wires":[["685d0dd5.376ee4","21862175.3de45e"]]},{"id":"4b0efbf1.febff4","type":"change","z":"5f229c05.6151c4","name":"Cat2","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1068.0000610351562,"y":332.888916015625,"wires":[["1ea6e600.8bc46a","cdd71efe.4548e"]]},{"id":"1ea6e600.8bc46a","type":"DFLed","z":"5f229c05.6151c4","name":"ledGreenLed","digitalPin":"12","x":1577.0001220703125,"y":331.88887786865234,"wires":[]},{"id":"685d0dd5.376ee4","type":"DFLed","z":"5f229c05.6151c4","name":"LedYellowLed","digitalPin":"11","x":1585.0001220703125,"y":248.88886260986328,"wires":[]},{"id":"cdd71efe.4548e","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5","x":1264.6668090820312,"y":427.5555419921875,"wires":[["d30cc3f1.2787f"]]},{"id":"21862175.3de45e","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5","x":1253.500244140625,"y":165.88886260986328,"wires":[["8d1ca928.724b08"]]},{"id":"8d1ca928.724b08","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1399.666748046875,"y":173.99999237060547,"wires":[["685d0dd5.376ee4"]]},{"id":"d30cc3f1.2787f","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1406.666748046875,"y":426,"wires":[["1ea6e600.8bc46a"]]},{"id":"e7e0106c.52f56","type":"DFLed","z":"5f229c05.6151c4","name":"Led","digitalPin":"13","x":1289.88330078125,"y":84.54072570800781,"wires":[]},{"id":"2cda93ee.cdff3c","type":"switch","z":"5f229c05.6151c4","name":"on/off-switch","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":894.841064453125,"y":84.54074096679688,"wires":[["6daf139f.f6c73c"],["6ff674a6.ac562c"]]},{"id":"6ff674a6.ac562c","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1059.8411254882812,"y":111.54074096679688,"wires":[["e7e0106c.52f56"]]},{"id":"6daf139f.f6c73c","type":"change","z":"5f229c05.6151c4","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1059.8411254882812,"y":64.54074096679688,"wires":[["e7e0106c.52f56"]]},{"id":"3da422f9.95efce","type":"change","z":"5f229c05.6151c4","name":"Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":466.6666564941406,"y":279.6666488647461,"wires":[["e894e00f.53cd5"]]}]