curie-smartnode/smartnode/lib/flows/candy-servo
[{"id":"9fb6eedd.b6c87","type":"DFButton","z":"5f229c05.6151c4","name":"DFButton","digitalPin":"2","funType":"1","x":80.75462341308594,"y":211.87500762939453,"wires":[["62289cb3.8d94b4","e627e46e.f18498"]]},{"id":"f26a5bde.0e5df8","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":386.7545928955078,"y":78.8680648803711,"wires":[]},{"id":"9fa20c41.8305b","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":475.75694274902344,"y":214.53241729736328,"wires":[["ebd5ac95.2fff1"],["136b63ec.de3dfc"]]},{"id":"ebd5ac95.2fff1","type":"change","z":"5f229c05.6151c4","name":"45度","rules":[{"t":"set","p":"payload","pt":"msg","to":"45","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":618.7615814208984,"y":186.9953842163086,"wires":[["5aa9dc11.820d74"]]},{"id":"5a6f4e2d.1df6","type":"change","z":"5f229c05.6151c4","name":"0度","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.2661590576172,"y":286.2824478149414,"wires":[["5aa9dc11.820d74"]]},{"id":"5aa9dc11.820d74","type":"DFServo","z":"5f229c05.6151c4","name":"DFServo","digitalPin":"5","x":787.7569427490234,"y":111.25926208496094,"wires":[]},{"id":"62289cb3.8d94b4","type":"DFInfraredAvoid","z":"5f229c05.6151c4","name":"DFInfraredAvoid","digitalPin":"4","interval":"500","x":287.75457763671875,"y":216.59961700439453,"wires":[["9fa20c41.8305b"]]},{"id":"136b63ec.de3dfc","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"2","x":617.7569427490234,"y":274.42362213134766,"wires":[["5a6f4e2d.1df6"]]},{"id":"9583b241.a2f35","type":"Ble","z":"5f229c05.6151c4","name":"BleCandy","x":286.7638397216797,"y":283.67826080322266,"wires":[["9fa20c41.8305b"]]},{"id":"e627e46e.f18498","type":"DFLed","z":"5f229c05.6151c4","name":"DFLed","digitalPin":"10","x":272.75457763671875,"y":357.0416946411133,"wires":[]}]