curie-smartnode/smartnode/lib/flows/Delayed Light
[{"id":"dffa4bb6.0d5ea8","type":"interpreter","z":"128ad8e2.ed7527","name":"to curie","x":424,"y":172,"wires":[]},{"id":"b79d3472.194898","type":"DFButton","z":"128ad8e2.ed7527","name":"DFButton","digitalPin":"11","funType":0,"x":186,"y":260,"wires":[["1b1122dc.c06bed","6586e72b.6021d8"]]},{"id":"6586e72b.6021d8","type":"change","z":"128ad8e2.ed7527","name":"turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":373,"y":225,"wires":[["de68bab5.f88e38"]]},{"id":"1b1122dc.c06bed","type":"Delay","z":"128ad8e2.ed7527","name":"Delay","interval":"4","x":335,"y":335,"wires":[["9dd523d2.08c66"]]},{"id":"9dd523d2.08c66","type":"change","z":"128ad8e2.ed7527","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":518,"y":333,"wires":[["de68bab5.f88e38"]]},{"id":"de68bab5.f88e38","type":"LED","z":"128ad8e2.ed7527","name":"LED","digitalPin":"5","x":730,"y":278,"wires":[]}]