curie-smartnode/smartnode/lib/flows/Intelligent Acoustic-optic LED lamp
[{"id":"aa7877be.8f1db8","type":"StartSwitch","z":"128ad8e2.ed7527","name":"StartSwitch","outputValue":"1","x":95,"y":218,"wires":[["878aaf59.0f574"]]},{"id":"1f9dffc7.acdfe","type":"interpreter","z":"128ad8e2.ed7527","name":"to curie","x":315,"y":72,"wires":[]},{"id":"878aaf59.0f574","type":"Light","z":"128ad8e2.ed7527","name":"Light","analogPin":"A5","interval":"1000","x":213,"y":149,"wires":[["c3ebe939.aef6c8"]]},{"id":"c3ebe939.aef6c8","type":"switch","z":"128ad8e2.ed7527","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"},{"t":"gt","v":"10","vt":"str"}],"checkall":"true","outputs":2,"x":188,"y":307,"wires":[["7223856.fd0097c"],["605ad3b0.4137ac"]]},{"id":"7223856.fd0097c","type":"change","z":"128ad8e2.ed7527","name":"Sound_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":339,"y":231,"wires":[["5b4b8a0b.921ce4"]]},{"id":"605ad3b0.4137ac","type":"change","z":"128ad8e2.ed7527","name":"LED_OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":371,"wires":[["a33b854e.29bae8"]]},{"id":"5b4b8a0b.921ce4","type":"Sound","z":"128ad8e2.ed7527","name":"Sound","analogPin":"A0","interval":"1000","x":435,"y":124,"wires":[["f35e943a.344d48"]]},{"id":"f35e943a.344d48","type":"switch","z":"128ad8e2.ed7527","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"},{"t":"gt","v":"10","vt":"str"}],"checkall":"true","outputs":2,"x":509,"y":235,"wires":[["78bd7042.f0488"],["a362e9.4e7aed18"]]},{"id":"78bd7042.f0488","type":"change","z":"128ad8e2.ed7527","name":"LED_OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":637,"y":132,"wires":[["ee155526.b9ba98"]]},{"id":"a362e9.4e7aed18","type":"change","z":"128ad8e2.ed7527","name":"LED_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":557,"y":311,"wires":[["a33b854e.29bae8"]]},{"id":"ee155526.b9ba98","type":"Delay","z":"128ad8e2.ed7527","name":"Delay","interval":"5","x":706,"y":246,"wires":[["a33b854e.29bae8"]]},{"id":"a33b854e.29bae8","type":"LED","z":"128ad8e2.ed7527","name":"LED","digitalPin":"2","x":764,"y":399,"wires":[]}]