curie-smartnode/smartnode/lib/flows/Intelligent Plant Grow Lamp
[{"id":"dffa4bb6.0d5ea8","type":"interpreter","z":"128ad8e2.ed7527","name":"to curie","x":424,"y":172,"wires":[]},{"id":"c60e32f7.dee2c","type":"StartSwitch","z":"128ad8e2.ed7527","name":"StartSwitch","outputValue":"1","x":203,"y":272,"wires":[["3398f686.35f7ba"]]},{"id":"3398f686.35f7ba","type":"DFLight","z":"128ad8e2.ed7527","name":"DFLight","analogPin":"A0","interval":"1000","x":368,"y":272,"wires":[["3dd06e9a.45e192"]]},{"id":"3dd06e9a.45e192","type":"switch","z":"128ad8e2.ed7527","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"lt","v":"20","vt":"str"}],"checkall":"true","outputs":2,"x":521,"y":271,"wires":[["43d7f774.293408"],["e4e940ba.0322f"]]},{"id":"43d7f774.293408","type":"change","z":"128ad8e2.ed7527","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":633,"y":225,"wires":[["ab8bf533.f3c648"]]},{"id":"e4e940ba.0322f","type":"change","z":"128ad8e2.ed7527","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":639,"y":311,"wires":[["ab8bf533.f3c648"]]},{"id":"ab8bf533.f3c648","type":"LED","z":"128ad8e2.ed7527","name":"LED","digitalPin":"7","x":777,"y":256,"wires":[]}]