curie-smartnode/smartnode/lib/flows/led-light
[{"id":"bcf497a6.200ba8","type":"inject","z":"5f229c05.6151c4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.50680541992188,"y":282.1126174926758,"wires":[["2d32a3b6.f1b2ac"]]},{"id":"3a85df10.38ac","type":"switch","z":"5f229c05.6151c4","name":"LightSwitch","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"str"},{"t":"gt","v":"200","vt":"str"}],"checkall":"true","outputs":2,"x":502.51483154296875,"y":286.5407409667969,"wires":[["2b5c75cd.6004ca"],["eb54e5b.f201918"]]},{"id":"2d32a3b6.f1b2ac","type":"Light","z":"5f229c05.6151c4","name":"Light","analogPin":"A0","interval":"1000","x":314.49609375,"y":283.3765106201172,"wires":[["3a85df10.38ac"]]},{"id":"2b5c75cd.6004ca","type":"change","z":"5f229c05.6151c4","name":"ledOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":677.492919921875,"y":258.5336151123047,"wires":[["59a63fbf.ae9c9"]]},{"id":"eb54e5b.f201918","type":"change","z":"5f229c05.6151c4","name":"ledOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680.5137329101562,"y":301.5262908935547,"wires":[["59a63fbf.ae9c9"]]},{"id":"59a63fbf.ae9c9","type":"LED","z":"5f229c05.6151c4","name":"LED","digitalPin":"4","x":943.5029296875,"y":278.40857696533203,"wires":[]},{"id":"eb8af90b.d8c6c8","type":"interpreter","z":"5f229c05.6151c4","name":"interpreter","x":606.8913269042969,"y":137.0396728515625,"wires":[]}]