curie-smartnode/smartnode/lib/flows/led-debug
[{"id":"8f0db86e.8ba138","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM19","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"eeebcae2.0bbd78","type":"serial in","z":"5f229c05.6151c4","name":"","serial":"8f0db86e.8ba138","x":512.74267578125,"y":348.9454116821289,"wires":[["27a0fc1e.312d84"]]},{"id":"27a0fc1e.312d84","type":"debug","z":"5f229c05.6151c4","name":"","active":true,"console":"false","complete":"false","x":780.75439453125,"y":347.37931060791016,"wires":[]},{"id":"c30b0f18.0d5b","type":"serial out","z":"5f229c05.6151c4","name":"","serial":"8f0db86e.8ba138","x":775.7451171875,"y":210.37952423095703,"wires":[]},{"id":"75aa50b6.1425a","type":"inject","z":"5f229c05.6151c4","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":518.748291015625,"y":181.81531524658203,"wires":[["c30b0f18.0d5b"]]},{"id":"5ea2a08b.a2c73","type":"inject","z":"5f229c05.6151c4","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":529.5148315429688,"y":245.5407485961914,"wires":[["c30b0f18.0d5b"]]}]