curie-smartnode/smartnode/lib/flows/led-inject
[{"id":"e58bd768.611d68","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM19","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"7fa20975.296b48","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM19","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"69452dab.6ec3b4","type":"LED","z":"5f229c05.6151c4","name":"LED","digitalPin":"2","x":500,"y":258,"wires":[]},{"id":"2327a58f.29a8ca","type":"inject","z":"5f229c05.6151c4","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"serial":"7fa20975.296b48","x":259,"y":217,"wires":[["69452dab.6ec3b4"]]},{"id":"48207689.e0a7d8","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":469,"y":153,"wires":[]},{"id":"93044106.1eab3","type":"inject","z":"5f229c05.6151c4","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"serial":"e58bd768.611d68","x":255,"y":309,"wires":[["69452dab.6ec3b4"]]}]