curie-smartnode/smartnode/lib/flows/light-control-led
[{"id":"e58bd768.611d68","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM19","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"7d8ce849.264938","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":417,"y":124,"wires":[]},{"id":"1af5a991.636df6","type":"debug","z":"5f229c05.6151c4","name":"","active":true,"console":"false","complete":"payload","serial":"e58bd768.611d68","x":760.9999847412109,"y":414,"wires":[]},{"id":"876b773e.edb7c8","type":"switch","z":"5f229c05.6151c4","name":"LightSwitch","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"str"},{"t":"gt","v":"500","vt":"str"}],"checkall":"true","outputs":2,"x":412.0079803466797,"y":302.4281311035156,"wires":[["dd50f327.28fda"],["72769350.19187c"]]},{"id":"d36db72e.fb8598","type":"Light","z":"5f229c05.6151c4","name":"Light","analogPin":"A0","interval":"1000","x":237.98927307128906,"y":306.2638854980469,"wires":[["876b773e.edb7c8"]]},{"id":"dd50f327.28fda","type":"change","z":"5f229c05.6151c4","name":"ledOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.9860687255859,"y":284.4209899902344,"wires":[["8fcbfcca.845da"]]},{"id":"72769350.19187c","type":"change","z":"5f229c05.6151c4","name":"ledOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":577.0068817138672,"y":338.4136657714844,"wires":[["8fcbfcca.845da"]]},{"id":"8fcbfcca.845da","type":"LED","z":"5f229c05.6151c4","name":"LED","digitalPin":"2","x":749.9960784912109,"y":309.29595947265625,"wires":[]},{"id":"1caffa48.e39776","type":"Touch","z":"5f229c05.6151c4","name":"Touch","digitalPin":"4","impulse":"1000","x":77,"y":309,"wires":[["d36db72e.fb8598"]]}]