curie-smartnode/smartnode/lib/flows/logic-new
[{"id":"d82f083f.936048","type":"switch","z":"5f229c05.6151c4","name":"LightSwitch","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"str"},{"t":"gt","v":"100","vt":"str"}],"checkall":"true","outputs":2,"x":458.519287109375,"y":391.39000701904297,"wires":[["3cc93fbc.2aa7b"],["dac012e4.fd61f"]]},{"id":"c9908be.8ccfd78","type":"inject","z":"5f229c05.6151c4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":122.51126098632812,"y":345.9618911743164,"wires":[["ff65d7e4.731c88"]]},{"id":"ff65d7e4.731c88","type":"Light","z":"5f229c05.6151c4","name":"Light","analogPin":"3","interval":"1000","x":263.50054931640625,"y":391.2257614135742,"wires":[["d82f083f.936048"]]},{"id":"3cc93fbc.2aa7b","type":"change","z":"5f229c05.6151c4","name":"soundOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":643.4973754882812,"y":363.3828811645508,"wires":[["3ef74134.61957e"]]},{"id":"dac012e4.fd61f","type":"change","z":"5f229c05.6151c4","name":"soundOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":646.5181884765625,"y":406.3755569458008,"wires":[["3ef74134.61957e"]]},{"id":"3ef74134.61957e","type":"Sound","z":"5f229c05.6151c4","name":"Sound","analogPin":"4","interval":"1000","x":814.504638671875,"y":392.23461151123047,"wires":[["66383dfd.2b6e04"]]},{"id":"66383dfd.2b6e04","type":"switch","z":"5f229c05.6151c4","name":"soundSwitch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"400","vt":"str"}],"checkall":"true","outputs":1,"x":994.5054321289062,"y":388.39282989501953,"wires":[["47327c3c.bca6c4"]]},{"id":"47327c3c.bca6c4","type":"change","z":"5f229c05.6151c4","name":"ledOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1166.5042114257812,"y":389.36673736572266,"wires":[["aa169ea0.acf01"]]},{"id":"aa169ea0.acf01","type":"LED","z":"5f229c05.6151c4","name":"LED","digitalPin":"2","x":1143.5073852539062,"y":524.2578506469727,"wires":[]},{"id":"9e34bf05.9ec5d","type":"interpreter","z":"5f229c05.6151c4","name":"interpreter","x":350.895751953125,"y":65.88888549804688,"wires":[]}]