curie-smartnode/smartnode/lib/flows/motorDriver
[{"id":"16e9a957.80e027","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM5","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"a62f9577.aef558","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":456,"y":97,"wires":[]},{"id":"a31b0f78.d206b","type":"MotorDriver","z":"5f229c05.6151c4","name":"MotorDriver","PWMPinA":"9","digitalPinA1":"11","digitalPinA2":"10","PWMPinB":"6","digitalPinB1":"8","digitalPinB2":"7","speed":"200","x":543,"y":293,"wires":[[]]},{"id":"2a67e6e3.52069a","type":"inject","z":"5f229c05.6151c4","name":"Forward","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"serial":"16e9a957.80e027","x":258,"y":195,"wires":[["a31b0f78.d206b"]]},{"id":"c7fdce71.807f2","type":"inject","z":"5f229c05.6151c4","name":"Leftward","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"serial":"16e9a957.80e027","x":258,"y":243,"wires":[["a31b0f78.d206b"]]},{"id":"6c9cd82e.1843c8","type":"inject","z":"5f229c05.6151c4","name":"Backward","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"serial":"16e9a957.80e027","x":256,"y":296,"wires":[["a31b0f78.d206b"]]},{"id":"16ac1ce6.40dc33","type":"inject","z":"5f229c05.6151c4","name":"Rightward","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"serial":"16e9a957.80e027","x":248,"y":342,"wires":[["a31b0f78.d206b"]]},{"id":"7597de48.bfcd9","type":"inject","z":"5f229c05.6151c4","name":"Stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"serial":"16e9a957.80e027","x":235,"y":393,"wires":[["a31b0f78.d206b"]]},{"id":"42bd7b14.7b5b94","type":"MotorDriver","z":"5f229c05.6151c4","name":"MotorDriver","PWMPinA":"3","digitalPinA1":"0","digitalPinA2":"1","PWMPinB":"5","digitalPinB1":"2","digitalPinB2":"4","speed":"200","x":243.5,"y":1214,"wires":[[]]}]