curie-smartnode/smartnode/lib/flows/neurons-ball-20161102
[{"id":"61375e4b.b6bb4","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM10","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"14fb5eae.75edd1","type":"Neurons","z":"5f229c05.6151c4","name":"Neurons","funType":"1","x":697.0000610351562,"y":267.6666564941406,"wires":[["3e035e37.5fe282","11097ee7.5e2741"]]},{"id":"47543564.326a6c","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":84.99984741210938,"y":78.66667938232422,"wires":[]},{"id":"7d9ad261.ac5b1c","type":"change","z":"5f229c05.6151c4","name":"neuronStatus","rules":[{"t":"set","p":"neuronStatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":512.000244140625,"y":450.6666717529297,"wires":[["14fb5eae.75edd1"]]},{"id":"2fa6071.e26eef8","type":"change","z":"5f229c05.6151c4","name":"category1","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":507.9999694824219,"y":83.66665649414062,"wires":[["14fb5eae.75edd1","4740ea8b.10de54"]]},{"id":"11097ee7.5e2741","type":"debug","z":"5f229c05.6151c4","name":"Debug","active":true,"console":"false","complete":"payload","serial":"61375e4b.b6bb4","x":878.9998016357422,"y":458.66661834716797,"wires":[]},{"id":"de22441e.5423e8","type":"DFButton","z":"5f229c05.6151c4","name":"YellowButton","digitalPin":"2","funType":"0","x":102.32626342773438,"y":192.6666488647461,"wires":[["8b46c111.ba818","d38c1f99.dbc13","81460e50.fe50d","c653e5cb.be73a8"]]},{"id":"8b46c111.ba818","type":"switch","z":"5f229c05.6151c4","name":"Press-Release","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":300.5555114746094,"y":88.77778625488281,"wires":[["2fa6071.e26eef8"],["2fa6071.e26eef8"]]},{"id":"d38c1f99.dbc13","type":"change","z":"5f229c05.6151c4","name":"Learn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":329.77777099609375,"y":437.66666412353516,"wires":[["7d9ad261.ac5b1c"]]},{"id":"81460e50.fe50d","type":"Gyro","z":"5f229c05.6151c4","name":"Gyro","interval":"100","x":334.00006103515625,"y":270.66663360595703,"wires":[["14fb5eae.75edd1"]]},{"id":"c653e5cb.be73a8","type":"Accelerometer","z":"5f229c05.6151c4","name":"Accelerometer","interval":"100","x":358.00006103515625,"y":205.66665649414062,"wires":[["14fb5eae.75edd1"]]},{"id":"c21838f3.347848","type":"DFButton","z":"5f229c05.6151c4","name":"WhiteButton","digitalPin":"4","funType":"0","x":95,"y":484.66673278808594,"wires":[["81460e50.fe50d","c653e5cb.be73a8","522b1b0d.01a934","5b971bc8.394394"]]},{"id":"a50ae7b9.a91c68","type":"DFButton","z":"5f229c05.6151c4","name":"GreenButton","digitalPin":"3","funType":"0","x":98,"y":338.66663360595703,"wires":[["c653e5cb.be73a8","81460e50.fe50d","6272833.961767c","d38c1f99.dbc13"]]},{"id":"6272833.961767c","type":"switch","z":"5f229c05.6151c4","name":"Press-Release","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":341.22210693359375,"y":340.66666412353516,"wires":[["4f135793.b0b4f8"],["d1efe715.1998a8"]]},{"id":"d1efe715.1998a8","type":"change","z":"5f229c05.6151c4","name":"category2","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":583.9998474121094,"y":346.66663360595703,"wires":[["14fb5eae.75edd1","4740ea8b.10de54"]]},{"id":"522b1b0d.01a934","type":"change","z":"5f229c05.6151c4","name":"Classify","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":335.66668701171875,"y":492.6667022705078,"wires":[["7d9ad261.ac5b1c"]]},{"id":"5b971bc8.394394","type":"change","z":"5f229c05.6151c4","name":"category_status","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":482.77764892578125,"y":562.6667861938477,"wires":[["14fb5eae.75edd1"]]},{"id":"4740ea8b.10de54","type":"change","z":"5f229c05.6151c4","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"category","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":721.841064453125,"y":97.31852722167969,"wires":[["1d4fe0db.14ad5f"]]},{"id":"3e035e37.5fe282","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":881.9999694824219,"y":269.6666564941406,"wires":[["1b74fbb0.402744"],["983ac686.e3e568"]]},{"id":"1b74fbb0.402744","type":"change","z":"5f229c05.6151c4","name":"Cat1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1069.0003662109375,"y":255.66668701171875,"wires":[["dd93333.00e3cd","105f102c.5ea91"]]},{"id":"983ac686.e3e568","type":"change","z":"5f229c05.6151c4","name":"Cat2","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1071.0000610351562,"y":346.6667022705078,"wires":[["d2b8759.e95f088","6b74e12.6f0932"]]},{"id":"d2b8759.e95f088","type":"DFLed","z":"5f229c05.6151c4","name":"ledGreenLed","digitalPin":"12","x":1580.0001220703125,"y":345.66666412353516,"wires":[]},{"id":"dd93333.00e3cd","type":"DFLed","z":"5f229c05.6151c4","name":"LedYellowLed","digitalPin":"11","x":1588.0001220703125,"y":262.6666488647461,"wires":[]},{"id":"6b74e12.6f0932","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5","x":1267.6668090820312,"y":441.3333282470703,"wires":[["460918e7.6d6638"]]},{"id":"105f102c.5ea91","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5","x":1256.500244140625,"y":179.6666488647461,"wires":[["e3c0bca8.bf4da"]]},{"id":"e3c0bca8.bf4da","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1402.666748046875,"y":187.77777862548828,"wires":[["dd93333.00e3cd"]]},{"id":"460918e7.6d6638","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1409.666748046875,"y":439.7777862548828,"wires":[["d2b8759.e95f088"]]},{"id":"cea70461.b03328","type":"DFLed","z":"5f229c05.6151c4","name":"Led","digitalPin":"13","x":1292.88330078125,"y":98.31851196289062,"wires":[]},{"id":"1d4fe0db.14ad5f","type":"switch","z":"5f229c05.6151c4","name":"on/off-switch","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":897.841064453125,"y":98.31852722167969,"wires":[["1cf7dc6f.973524"],["513b095.c3774f8"]]},{"id":"513b095.c3774f8","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1062.8411254882812,"y":125.31852722167969,"wires":[["cea70461.b03328"]]},{"id":"1cf7dc6f.973524","type":"change","z":"5f229c05.6151c4","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1062.8411254882812,"y":78.31852722167969,"wires":[["cea70461.b03328"]]},{"id":"4f135793.b0b4f8","type":"change","z":"5f229c05.6151c4","name":"Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.6666564941406,"y":293.4444351196289,"wires":[["d1efe715.1998a8"]]}]