curie-smartnode/smartnode/lib/flows/neurons-ball
[{"id":"61375e4b.b6bb4","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM5","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"fbcc9e9e.db207","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":565,"y":41,"wires":[]},{"id":"d8635cd5.b45ca","type":"DFButton","z":"5f229c05.6151c4","name":"DFButton","digitalPin":"4","funType":"1","x":79,"y":221,"wires":[["e9243595.fbb888"]]},{"id":"e9243595.fbb888","type":"change","z":"5f229c05.6151c4","name":"change_neuronStatus","rules":[{"t":"set","p":"neuronStatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":328,"y":226,"wires":[["e23d227d.617bc"]]},{"id":"4c273a79.6ce5b4","type":"change","z":"5f229c05.6151c4","name":"change_category","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":331,"y":174,"wires":[["e23d227d.617bc"]]},{"id":"e23d227d.617bc","type":"Neurons","z":"5f229c05.6151c4","name":"Neurons","funType":"1","dimension":3,"dataLength":60,"x":573,"y":138,"wires":[["d763ca08.4fe1e8","e1af8d51.d07b3"]]},{"id":"841a2cf6.52451","type":"Gyro","z":"5f229c05.6151c4","name":"Gyro","interval":"100","x":318,"y":96,"wires":[["e23d227d.617bc"]]},{"id":"67dde1d4.daa4f","type":"Accelerometer","z":"5f229c05.6151c4","name":"Accelerometer","interval":"100","x":348,"y":28,"wires":[["e23d227d.617bc"]]},{"id":"268e8110.b842ce","type":"ADKeyboard","z":"5f229c05.6151c4","name":"ADKeyboard","analogPin":"0","S1from":"700","S1to":"799","S2from":"800","S2to":"849","S3from":"850","S3to":"889","S4from":"890","S4to":"949","S5from":"950","S5to":"999","interval":"1000","x":85,"y":103,"wires":[["67dde1d4.daa4f","841a2cf6.52451","4c273a79.6ce5b4"]]},{"id":"d763ca08.4fe1e8","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":471,"y":277.99999237060547,"wires":[["cfa0a8a.99a2358","86bcdd17.3c4ca"],["ae7f991b.d96dd8","ab894e30.094d2"]]},{"id":"cfa0a8a.99a2358","type":"change","z":"5f229c05.6151c4","name":"Cat1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":679,"y":224,"wires":[["e1af8d51.d07b3","ce888efe.9ad11","f7e26b99.167b58"]]},{"id":"ae7f991b.d96dd8","type":"change","z":"5f229c05.6151c4","name":"Cat2","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":707,"y":278,"wires":[["58d3c073.0ffb9","9a3e2c0a.00127"]]},{"id":"ab894e30.094d2","type":"change","z":"5f229c05.6151c4","name":"Cat1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":706,"y":319,"wires":[["ce888efe.9ad11"]]},{"id":"86bcdd17.3c4ca","type":"change","z":"5f229c05.6151c4","name":"Cat2","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":681,"y":184,"wires":[["e1af8d51.d07b3","58d3c073.0ffb9"]]},{"id":"e1af8d51.d07b3","type":"debug","z":"5f229c05.6151c4","name":"","active":true,"console":"false","complete":"payload","serial":"61375e4b.b6bb4","x":983.9999694824219,"y":77,"wires":[]},{"id":"58d3c073.0ffb9","type":"DFLed","z":"5f229c05.6151c4","name":"DFLed","digitalPin":"13","x":1082.9999694824219,"y":312.99999237060547,"wires":[]},{"id":"ce888efe.9ad11","type":"DFLed","z":"5f229c05.6151c4","name":"DFLed","digitalPin":"12","x":1106.9999694824219,"y":229.99999237060547,"wires":[]},{"id":"f7e26b99.167b58","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5000","x":926.4999694824219,"y":168.99999237060547,"wires":[["ce888efe.9ad11"]]},{"id":"9a3e2c0a.00127","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5000","x":920.6665954589844,"y":371.6666488647461,"wires":[["58d3c073.0ffb9"]]}]