curie-smartnode/smartnode/lib/flows/new-Gyro
[{"id":"61375e4b.b6bb4","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM5","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"8760017d.75915","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":521,"y":109,"wires":[]},{"id":"4c15cd11.215e14","type":"DFButton","z":"5f229c05.6151c4","name":"DFButton","digitalPin":"4","funType":"1","x":85,"y":294,"wires":[["a3798206.0232a"]]},{"id":"6b92bfad.3664f","type":"ADKeyboard","z":"5f229c05.6151c4","name":"ADKeyboard","analogPin":"0","S1from":"800","S1to":"829","S2from":"830","S2to":"859","S3from":"860","S3to":"889","S4from":"890","S4to":"949","S5from":"950","S5to":"999","interval":"1000","x":85,"y":155,"wires":[["420b7ab1.a2bb14","f6910bca.bbd318"]]},{"id":"a3798206.0232a","type":"change","z":"5f229c05.6151c4","name":"change_neuronStatus","rules":[{"t":"set","p":"neuronStatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":337,"y":298,"wires":[["2224eaf0.475c56"]]},{"id":"420b7ab1.a2bb14","type":"change","z":"5f229c05.6151c4","name":"change_category","rules":[{"t":"set","p":"category","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":333,"y":215,"wires":[["2224eaf0.475c56"]]},{"id":"74945af2.62c684","type":"debug","z":"5f229c05.6151c4","name":"","active":true,"console":"false","complete":"payload","serial":"61375e4b.b6bb4","x":743.3220825195312,"y":255.6632080078125,"wires":[]},{"id":"2224eaf0.475c56","type":"Neurons","z":"5f229c05.6151c4","name":"Neurons","funType":"1","dimension":3,"dataLength":60,"x":585,"y":180,"wires":[["74945af2.62c684"]]},{"id":"f6910bca.bbd318","type":"Gyro","z":"5f229c05.6151c4","name":"Gyro","interval":"100","x":317,"y":133,"wires":[["2224eaf0.475c56"]]}]