curie-smartnode/smartnode/lib/flows/Servo-control
[{"id":"61375e4b.b6bb4","type":"serial-port","z":"5f229c05.6151c4","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ecdb8b30.b7b7e8","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":456.89573669433594,"y":172.88888549804688,"wires":[]},{"id":"fbeb982a.32f788","type":"DFServo","z":"5f229c05.6151c4","name":"DFServo","digitalPin":"9","x":728.8333587646484,"y":284.07293701171875,"wires":[]},{"id":"86b06b95.d58248","type":"DFButton","z":"5f229c05.6151c4","name":"DFButton","digitalPin":"4","funType":0,"x":142.8402862548828,"y":410.9270935058594,"wires":[["6b48672f.cb7dc8","ddfec86c.be6c38"]]},{"id":"8c15421d.9ee35","type":"inject","z":"5f229c05.6151c4","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"serial":"61375e4b.b6bb4","x":142.8402862548828,"y":332.49307206236296,"wires":[["ddfec86c.be6c38"]]},{"id":"6b48672f.cb7dc8","type":"debug","z":"5f229c05.6151c4","name":"","active":true,"console":"false","complete":"payload","serial":"61375e4b.b6bb4","x":768.8298797607422,"y":429.7778015136719,"wires":[]},{"id":"ddfec86c.be6c38","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":338.8263854980469,"y":325.9340515136719,"wires":[["2df5c2f5.2570fe"],["8ddac1b4.e6589"]]},{"id":"2df5c2f5.2570fe","type":"change","z":"5f229c05.6151c4","name":"180","rules":[{"t":"set","p":"payload","pt":"msg","to":"180","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":499.83677673339844,"y":301.1493225097656,"wires":[["6b48672f.cb7dc8","fbeb982a.32f788"]]},{"id":"8ddac1b4.e6589","type":"change","z":"5f229c05.6151c4","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":496.8957977294922,"y":363.8888854980469,"wires":[["6b48672f.cb7dc8","fbeb982a.32f788"]]}]