curie-smartnode/smartnode/lib/flows/sound-light-led
[{"id":"ae7c4338.e2a43","type":"switch","z":"5f229c05.6151c4","name":"LightSwitch","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"200","vt":"str"},{"t":"gt","v":"200","vt":"str"}],"checkall":"true","outputs":2,"x":527.0079956054688,"y":264.50110626220703,"wires":[["e4aee568.d21428"],["cc3d1f83.f69e8"]]},{"id":"99922d54.eeac3","type":"inject","z":"5f229c05.6151c4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":176.99996948242188,"y":252.07299041748047,"wires":[["d55740c8.020f6"]]},{"id":"d55740c8.020f6","type":"Light","z":"5f229c05.6151c4","name":"Light","analogPin":"A0","interval":"1000","x":338.9892578125,"y":261.33687591552734,"wires":[["ae7c4338.e2a43"]]},{"id":"e4aee568.d21428","type":"change","z":"5f229c05.6151c4","name":"soundOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":711.986083984375,"y":236.49398040771484,"wires":[["b873151a.884e18"]]},{"id":"cc3d1f83.f69e8","type":"change","z":"5f229c05.6151c4","name":"soundOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":715.0068969726562,"y":279.48665618896484,"wires":[["b873151a.884e18"]]},{"id":"b873151a.884e18","type":"Sound","z":"5f229c05.6151c4","name":"Sound","analogPin":"A1","interval":"1000","x":903.9933166503906,"y":244.3457260131836,"wires":[["5817860e.63f0d8"]]},{"id":"5817860e.63f0d8","type":"switch","z":"5f229c05.6151c4","name":"soundSwitch","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"400","vt":"str"}],"checkall":"true","outputs":1,"x":1087.9942321777344,"y":244.50392150878906,"wires":[["b9f7a034.60d99"]]},{"id":"b9f7a034.60d99","type":"change","z":"5f229c05.6151c4","name":"ledOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1254.9928894042969,"y":243.4778289794922,"wires":[["adb65e69.f3f11"]]},{"id":"adb65e69.f3f11","type":"LED","z":"5f229c05.6151c4","name":"LED","digitalPin":"4","x":1272.9960632324219,"y":331.3689422607422,"wires":[]},{"id":"6ec05b0e.3eba04","type":"interpreter","z":"5f229c05.6151c4","name":"interpreter","x":631.3844909667969,"y":115.00003814697266,"wires":[]}]