curie-smartnode/smartnode/lib/flows/Sound Level Meter
[{"id":"564d75cc.a9b28c","type":"serial-port","z":"128ad8e2.ed7527","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"dffa4bb6.0d5ea8","type":"interpreter","z":"128ad8e2.ed7527","name":"to curie","x":369,"y":166,"wires":[]},{"id":"c1baf0c0.5895f","type":"inject","z":"128ad8e2.ed7527","name":"inject","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"serial":"564d75cc.a9b28c","x":185,"y":241,"wires":[["890c93ea.efca8"]]},{"id":"890c93ea.efca8","type":"DFSound","z":"128ad8e2.ed7527","name":"DFSound","analogPin":"A0","interval":"1000","x":373,"y":241,"wires":[["a2176abc.192bb8"]]},{"id":"a2176abc.192bb8","type":"debug","z":"128ad8e2.ed7527","name":"","active":true,"console":"false","complete":"false","x":579,"y":240,"wires":[]}]