curie-smartnode/smartnode/lib/flows/Temperature Alarm
[{"id":"c1ce7d97.75a43","type":"StartSwitch","z":"128ad8e2.ed7527","name":"StartSwitch","outputValue":"1","x":104,"y":219,"wires":[["6ccf3cc2.d021a4"]]},{"id":"6ccf3cc2.d021a4","type":"DFTemperature","z":"128ad8e2.ed7527","name":"DFTemperature","analogPin":"A0","interval":"1000","x":296,"y":218,"wires":[["df7dbb5f.c85588"]]},{"id":"fb6a93a9.e4f5e","type":"interpreter","z":"128ad8e2.ed7527","name":"to curie","x":382,"y":108,"wires":[]},{"id":"df7dbb5f.c85588","type":"switch","z":"128ad8e2.ed7527","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","outputs":2,"x":470,"y":220,"wires":[["4233c3f.e16133c"],["6735b77a.58a208"]]},{"id":"4233c3f.e16133c","type":"change","z":"128ad8e2.ed7527","name":"Temperature_OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":617,"y":151,"wires":[["b7e4d72b.cad9a8"]]},{"id":"6735b77a.58a208","type":"change","z":"128ad8e2.ed7527","name":"Temperature_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":595,"y":301,"wires":[["b7e4d72b.cad9a8"]]},{"id":"b7e4d72b.cad9a8","type":"DFBuzzer","z":"128ad8e2.ed7527","name":"DFBuzzer","digitalPin":"8","x":750,"y":210,"wires":[]}]