curie-smartnode/smartnode/lib/flows/test-ball
[{"id":"2de4ea44.d23a86","type":"interpreter","z":"5f229c05.6151c4","name":"to curie","x":91,"y":43,"wires":[]},{"id":"b59f5f3f.cbc78","type":"DFButton","z":"5f229c05.6151c4","name":"DFButton-G","digitalPin":"2","funType":0,"x":95,"y":101,"wires":[["5b1dc979.d3d418","858846cf.b6f838","d86596de.c8df68","86e9a37b.19edf","e1347349.e618f"]]},{"id":"f64b7782.787498","type":"DFButton","z":"5f229c05.6151c4","name":"DFButton-Y","digitalPin":"3","funType":0,"x":88,"y":172.99999237060547,"wires":[["5b1dc979.d3d418","d86596de.c8df68","858846cf.b6f838","c2b227dd.9dcc08","e1347349.e618f"]]},{"id":"221889bf.cac556","type":"DFButton","z":"5f229c05.6151c4","name":"DFButton-W","digitalPin":"4","funType":0,"x":98,"y":343,"wires":[["1ee27e17.c3c782","858846cf.b6f838","d86596de.c8df68"]]},{"id":"858846cf.b6f838","type":"Accelerometer","z":"5f229c05.6151c4","name":"Accelerometer","interval":"100","x":522.9999847412109,"y":81,"wires":[["d8b9464f.2718c8"]]},{"id":"d86596de.c8df68","type":"Gyro","z":"5f229c05.6151c4","name":"Gyro","interval":"100","x":499.99998474121094,"y":140,"wires":[["d8b9464f.2718c8"]]},{"id":"d8b9464f.2718c8","type":"Neurons","z":"5f229c05.6151c4","name":"Neurons","funType":"1","x":710.9999847412109,"y":173.99999237060547,"wires":[["4db4aa0a.3b25c4"]]},{"id":"70844721.fd1538","type":"change","z":"5f229c05.6151c4","name":"neuronStatus","rules":[{"t":"set","p":"neuronStatus","pt":"msg","to":"msg.payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":511.99998474121094,"y":356,"wires":[["d8b9464f.2718c8"]]},{"id":"8a95305e.1ef7c","type":"change","z":"5f229c05.6151c4","name":"category","rules":[{"t":"set","p":"category","pt":"msg","to":"msg.payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":528,"y":250,"wires":[["d8b9464f.2718c8"]]},{"id":"5b1dc979.d3d418","type":"change","z":"5f229c05.6151c4","name":"learn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":309.9999084472656,"y":339,"wires":[["70844721.fd1538"]]},{"id":"1ee27e17.c3c782","type":"change","z":"5f229c05.6151c4","name":"classify","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":305.9998779296875,"y":383,"wires":[["70844721.fd1538"]]},{"id":"86e9a37b.19edf","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":298.2777557373047,"y":43.15278625488281,"wires":[["8a95305e.1ef7c"],["8a95305e.1ef7c"]]},{"id":"c2b227dd.9dcc08","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":228,"y":233,"wires":[["f5df837.d119b8"],["8a95305e.1ef7c"]]},{"id":"f5df837.d119b8","type":"change","z":"5f229c05.6151c4","name":"Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":213,"wires":[["8a95305e.1ef7c"]]},{"id":"4db4aa0a.3b25c4","type":"switch","z":"5f229c05.6151c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":862.2777557373047,"y":175.16320037841797,"wires":[["cbfbd55e.c4f638"],["99fc64db.7c5a08"]]},{"id":"e1347349.e618f","type":"DFLed","z":"5f229c05.6151c4","name":"DFLed","digitalPin":"13","x":813.8403778076172,"y":47.7569580078125,"wires":[]},{"id":"205ef167.1a732e","type":"DFLed","z":"5f229c05.6151c4","name":"DFLed","digitalPin":"11","x":1413.8959197998047,"y":121.88888549804688,"wires":[]},{"id":"9dcbf5c1.0aaac8","type":"DFLed","z":"5f229c05.6151c4","name":"DFLed","digitalPin":"12","x":1377.8959197998047,"y":241.88886260986328,"wires":[]},{"id":"cbfbd55e.c4f638","type":"change","z":"5f229c05.6151c4","name":"cat1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":987.8957977294922,"y":126.88888549804688,"wires":[["205ef167.1a732e","f55385f2.33de48"]]},{"id":"99fc64db.7c5a08","type":"change","z":"5f229c05.6151c4","name":"cat2","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000.8957366943359,"y":245.88886260986328,"wires":[["9dcbf5c1.0aaac8","b7a21fa4.889aa"]]},{"id":"b7a21fa4.889aa","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5","x":1075.2707824707031,"y":330.7534713745117,"wires":[["ba87b5be.1b2098"]]},{"id":"ba87b5be.1b2098","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1212.8958435058594,"y":325.88887786865234,"wires":[["9dcbf5c1.0aaac8"]]},{"id":"f55385f2.33de48","type":"Delay","z":"5f229c05.6151c4","name":"Delay","interval":"5","x":1078.8957824707031,"y":177.88887786865234,"wires":[["128a4c31.137724"]]},{"id":"128a4c31.137724","type":"change","z":"5f229c05.6151c4","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1238.5209197998047,"y":187.02428436279297,"wires":[["205ef167.1a732e"]]}]